{% extends "base.html" %}

{% block title %}Search Texts by Content{% endblock %}

{% block content %}
<div class="container mx-auto mt-10">
    <h1 class="text-3xl font-bold mb-4">Поиск по текстам</h1>
    <form action="/search_text" method="get" class="w-2/4">
        <input type="text" id="search_query" name="search_query" placeholder="Введите параметры поиска"
            class="border border-gray-300 p-2 rounded w-2/4">
        <button type="submit"
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Поиск</button>
    </form>
    <div class="mt-4">
        <div>
            <button onclick="addSymbol('ѵ')" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">ѵ</button>
            <button onclick="addSymbol('ѳ')" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">ѳ</button>
            <button onclick="addSymbol('ѣ')" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">ѣ</button>
            <button onclick="addSymbol('і')" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">і</button>
        </div>
    </div>
    {% if request.query_params.search_query %}
    <div class="mt-8">
        <h2 class="text-2xl font-bold mb-4">Результаты поиска</h2>
        {% if text_concordance_pairs %}
        <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
            {% for text, concordance in text_concordance_pairs %}
            <div class="bg-white rounded-lg shadow-lg p-5">
                <h3 class="text-xl font-semibold">{{ text.title }}</h3>
                {% if text.image %}
                <a href="/text_details/{{ text.id }}"><img src="/static/{{ text.image.split('\\')[-1] }}" alt="Image for {{ text.title }}"
                    class="mb-3 max-w-full h-auto"></a>
                {% endif %}
                <!-- Display concordance here -->
                <div class="concordance">
                    <p>{{ concordance|safe }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <p>По заданным параметрам текста не найдены.</p>
        {% endif %}
    </div>
    {% endif %}
</div>

<script>
    function addSymbol(symbol) {
        document.getElementById('search_query').value += symbol;
    }
</script>
{% endblock %}
